---
import CommonPage from "../layouts/CommonPage.astro";
import Window from "../components/Window.astro";
import Button from "../components/Button.astro";
import CodeBlock from "../components/CodeBlock.astro";
---

<CommonPage title="404">
	<Window>
		<h1 class="text-2xl text-center">Error 404 - Page not found</h1>
		<p class="my-20" id="page">
			Page <CodeBlock>--PAGE--</CodeBlock> does not exist.
		</p>
		<Button link="/">Go Home</Button>
	</Window>
	<script>
		var el = document.getElementById("page");
		if (el != null)
			el.innerHTML = el.innerHTML.replace("--PAGE--", document.URL);
	</script>
</CommonPage>
