---
import CommonPage from "../layouts/CommonPage.astro";
import Window from "../components/Window.astro";
import Button from "../components/Button.astro";
import CodeBlock from "../components/CodeBlock.astro";
---

<CommonPage title="404">
	<div class="flex flex-row min-h-screen justify-center items-center">
		<Window class="flex flex-col justify-center items-center">
			<h1 class="text-2xl text-center">Error 404 - Page not found</h1>
			<br />
			<p class="m-20" id="page">
				Page <CodeBlock>--PAGE--</CodeBlock> does not exist.
			</p>
			<br />
			<Button name="Go Home" link="/" />
		</Window>
	</div>
	<script type="module">
		var el = document.getElementById("page");
		el.innerHTML = el.innerHTML.replace("--PAGE--", document.URL);
	</script>
</CommonPage>
