---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cobalt Bar | Comms">
	<Window title="Programming Commissions">
		<p style="font-size: 14px;">NOTE: My commissions aren't avaliable yet. I'm still working on them.<br /><br />Commission terms:<br />I can refuse any commission for any reason.<br />No NSFW/Gore<br />50% upfront to start working. If you only pay 50%, i'll only give you 50%.<br />Give Credit.<br />I have the right to post about it and reuse code. (It is my work after all)<br />Don't use my stuff for AI/NFT/Political purposes.<br />If things come up, I will provide refunds.<br />Give as much detail as possible so I know what to do.<br /><br />I only accept PayPal for payment.<br />Contact me on discord (cobalt_bar) for commissions.</p>
		<div style="display:grid; padding-top:25px; justify-items: center;">
			<a href="/" class="menu">
				Home
			</a>
		</div>
	</Window>
</Layout>
