---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';
---

<!-- TODO add Maple and Moonlight -->
<Layout title="Cobalt Bar | Friends">
	<Window title="Friends">
		<div
			class="menu-container"
			style="grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;"
		>
			<div
				class="menu"
				style="width: 320px; height: 100px; cursor:pointer;"
				onclick="window.open('https://gamadoge.carrd.co/');"
			>
				<img
					src="/quotes/gamadoge.png"
					width="300px"
					style="border-radius: 0px;"
					alt="Gamadoge"
				/>
			</div>
			<div
				class="menu"
				style="width: 320px; height: 100px; cursor:pointer;"
				onclick="window.open('https://mooniecat.carrd.co/');"
			>
				<img
					src="/quotes/moon.png"
					width="300px"
					style="border-radius: 0px;"
					alt="Moonlight Catalyst"
				/>
			</div>
			<div
				class="menu"
				style="width: 320px; height: 100px; cursor:pointer;"
				onclick="window.open('https://github.com/superpowers04');"
			>
				<img
					src="/quotes/superpowers04.png"
					width="300px"
					style="border-radius: 0px;"
					alt="superpowers04"
				/>
			</div>
			<div
				class="menu"
				style="width: 320px; height: 100px;"
			>
				<img
					src="/quotes/unholy.png"
					width="300px"
					style="border-radius: 0px;"
					alt="Unholywanderer04"
				/>
			</div><div
				class="menu"
				style="width: 320px; height: 100px; cursor:pointer;"
				onclick="window.open('https://skruyo.com');"
			>
				<img
					src="/quotes/skruyo.png"
					width="300px"
					style="border-radius: 0px;"
					alt="skruyo"
				/>
			</div>
			<div
				class="menu"
				style="width: 320px; height: 100px;"
			>
				<img
					src="/quotes/fluffer.png"
					width="300px"
					style="border-radius: 0px;"
					alt="Dinofluffer"
				/>
			</div>
			<div
				class="menu"
				style="width: 320px; height: 100px; cursor:pointer;"
				onclick="window.open('https://mablesartsiteyeah.neocities.org/');"
			>
				<img
					src="/quotes/mable.png"
					width="300px"
					style="border-radius: 0px;"
					alt="Mable"
				/>
			</div>
		</div>
		<div style="display:grid; padding-top:25px; justify-items: center;">
			<a
				href="/"
				class="menu"
			>
				Home
			</a>
		</div>
	</Window>
</Layout>
