---
import CommonPage from "../layouts/CommonPage.astro";
import Window from "../components/Window.astro";
import SocialMediaButton from "../components/SocialMediaButton.astro";
import PersonaArt from "../assets/cobalt.png";
import BSkyLogo from "../assets/bluesky_media_kit_logo.svg";
import GitHubLogo from "../assets/GitHub_Invertocat_Light.svg";
import { Image } from "astro:assets";
---

<CommonPage title="Home">
	<div class="flex flex-col items-center mb-5 sm:mb-0">
		<Window class="mt-25 flex flex-col sm:flex-row">
			<div class="h-3/4 sm:w-3/4">
				<h1 class="text-4xl">Hi there!</h1>
				<br />
				<p>
					I'm CCobaltDev. I'm a transfem lesbian programmer who enjoys
					playing games. I primarily code in Haxe, C#, C++, and
					Python.
				</p>
				<br />
				<p>
					This site is VERY much a work-in-progress, so it will change
					in the future.
				</p>
			</div>
			<Window class="h-7/20 sm:w-7/20 flex flex-col items-center">
				<p class="text-center text-sm mb-3">
					Art by
					<a
						class="text-white font-extrabold"
						href="https://bsky.app/profile/chidotnb.bsky.social"
					>
						Chi
					</a>
				</p>
				<Image
					src={PersonaArt}
					alt="CCobaltDev's Persona"
					class="object-contain h-150 sm:h-auto"
				/>
			</Window>
		</Window>
		<div class="flex flex-row justify-evenly items-center">
			<SocialMediaButton
				src={GitHubLogo}
				alt="GitHub Logo"
				link="https://github.com/CCobaltDev/"
			/>
			<SocialMediaButton
				src={BSkyLogo}
				alt="Bluesky Logo"
				link="https://bsky.app/profile/ccobaltdev.bsky.social"
			/>
		</div>
	</div>
</CommonPage>
