---
import Window from '../components/Window.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cobalt Bar | Home">
	<Window
		title="Cobalt Bar"
		image="icon.png"
	>
		<p>
			Hello! I code, stream, and play games.<br /><br />
			I program in Haxe (HaxeFlixel), C# (Unity) and Python.<br /><br />
			I like Friday Night Funkin' and Terraria.<br /><br />
		</p>
		<div class="menu-container">
			<a
				href="/projects"
				class="menu"
			>
				Projects
			</a>

			<a
				href="/friends"
				class="menu"
			>
				Friends
			</a>
			<a
				href="/commissions"
				class="menu"
			>
				Commissions
			</a>
		</div>
	</Window>
</Layout>
