---
import CommonPage from "../layouts/CommonPage.astro";
import Window from "../components/Window.astro";
---

<CommonPage title="Blog">
	<Window>
		<h1 class="text-4xl">UNDER CONSTRUCTION</h1>
	</Window>
</CommonPage>
