---
import "../styles/global.css";

interface Props {
	link: string;
}
const { link } = Astro.props;
---

<a
	class="bg-clip-padding backdrop-filter backdrop-blur-xl bg-indigo-950/35 rounded-xl border-1 border-indigo-100/35 shadow-xl min-w-25 min-h-12 flex justify-center items-center"
	href={link}
>
	<slot />
</a>
