---
import "../styles/global.css";

interface Props {
	name: string;
	link: string;
}
const { name, link } = Astro.props;
---

<a
	class="backdrop-blur-lg bg-indigo-950/30 rounded-xl border-1 border-indigo-100/40 shadow-lg min-w-25 min-h-12 ml-3 flex justify-center items-center"
	href={link}
>
	{name}
</a>
