---
import "../styles/global.css";
import Window from "../components/Window.astro";
import Button from "../components/Button.astro";
---

<Window class="fixed min-w-screen max-h-20 flex flex-row items-center">
	<h1 class="text-xl">CCobaltDev</h1>
	<div class="ml-3 min-h-max w-0.5 self-stretch bg-indigo-100/50"></div>
	<Button name="Home" link="/" />
	<Button name="Blog" link="blog" />
	<Button name="Projects" link="projects" />
</Window>
