---
import "../styles/global.css";
import { Image } from "astro:assets";
import Window from "./Window.astro";

interface Props {
	link: string;
	src: any;
	alt: any;
}
const { link, src, alt } = Astro.props;
---

<a href={link}>
	<Window
		class="flex justify-center items-center !p-3 m-2 transform transition duration-300 ease-in-out hover:scale-110"
	>
		<Image src={src} alt={alt} class="size-14" />
	</Window>
</a>
