---
import "../styles/global.css";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class:list={`backdrop-blur-lg bg-indigo-950/30 rounded-xl border-1 border-indigo-100/40 shadow-lg p-6 max-w-2xl ${className || ""}`}
>
	<slot />
</div>
