---
import "../styles/global.css";

interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class:list={`bg-clip-padding backdrop-filter backdrop-blur-xl bg-indigo-950/35 rounded-xl border-1 border-indigo-100/35 shadow-xl p-6 m-2 max-w-2xl ${className || ""}`}
>
	<slot />
</div>
