---
interface Props {
	class?: string;
}

const { class: className } = Astro.props;
---

<div
	class:list={`backdrop-filter backdrop-blur-xl bg-violet-950/40 rounded-xl shadow-xl p-6 m-2 max-w-3xl ${className || ""}`}
>
	<slot />
</div>
