---
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="initial">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="CCobaltDev's Website" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="generator" content={Astro.generator} />
		<title>CCobaltDev | {title}</title>
	</head>
	<body>
		<Header />
		<div
			class="pt-25 [@media(min-height:810px)]:pt-0 min-h-screen min-w-full bg-linear-to-br from-violet-700 to-blue-800"
		>
			<main>
				<div
					class="flex flex-row min-h-screen justify-center items-center"
				>
					<slot />
				</div>
			</main>
		</div>
	</body>
</html>
